<header>
  <span class="title">
    <a href="/">JSON Graph Display</a>
  </span>
  <div class="search">
    <label for="productSearch">
      <i class="material-icons">search</i>
      <input type="text" id="productSearch">
    </label>
  </div>
</header>
