{{!< layout}}
<h1>
  {{ title }}
  <a id="sortProducts" href="#"><i class="material-icons">sort_by_alpha</i></a>
</h1>

<ol class="products">
  {{#each products}}
    <li class="product-card" data-product-id="{{ this.ProductId }}">
      <h4>
        <a href="/product/{{this.ProductId}}">{{this.Title.TitleText}}</a>
      </h4>
      <div class="product-details">
        <div>
          <strong>Publisher:</strong> {{this.Publisher.PublisherName}}
        </div>
        <div>
          <strong>Contributor:</strong> {{this.Contributor.KeyNames}}
        </div>
      </div>
      {{#if this.SupplyDetail.Price }}
        {{#each this.SupplyDetail.Price}}
          {{#if (eq this.CurrencyCode 'GBP') }}
            <div class="price">
              <span>£{{this.PriceAmount}}</span>
            </div>
          {{/if}}
        {{/each}}
      {{/if}}
    </li>
  {{/each}}
</ol>
