<!DOCTYPE html>
<html lang="en">
<head>
  <title>JSON Graph Display</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/app.styles.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

  {{> header }}

  <div class="container">
    {{{body}}}
  </div>

  <script src="/js/app.min.js"></script>
</body>
</html>
