{{!< layout}}

<div class="product-card full-size" data-product-id="{{ product.ProductId }}">
  <h4>
    <a href="/product/{{product.ProductId}}">{{product.Title.TitleText}}</a>
  </h4>
  <div class="product-details">
    {{#each product}}
      {{#if (isString this)}}
        <div>
          <strong>{{@key}}:</strong> {{this}}
        </div>
      {{else}}
        {{#each this}}
         {{#if (isString this)}}
            <div>
              <strong>{{@key}}:</strong> {{this}}
            </div>
          {{/if}}
        {{/each}}
      {{/if}}
    {{/each}}
  </div>
  {{#if product.SupplyDetail.Price }}
    {{#each product.SupplyDetail.Price}}
      {{#if (eq this.CurrencyCode 'GBP') }}
        <div class="price">
          <span>£{{this.PriceAmount}}</span>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>
