header {
  background-color: #ff5722;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  min-height: 64px;
  margin: 0;
  padding: 0 80px;
  flex-direction: row;

  @media(max-width: 500px) {
    padding: 5px;
    flex-direction: column;
    text-align: center;
  }

  .title {
    display: block;
    font-size: 20px;
    min-height: 20px;
    letter-spacing: 0.4px;
    padding: 20px 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .search {
    align-self: center;

    label {
      border-radius: 3px;
      border: 1px solid #fff;
      line-height: 30px;
      font-size: 30px;
      height: 30px;
      margin: 0 10px;

      i {
        margin: 3px 0px 0px 6px;
      }

      input, input:focus, input:active {
        background: transparent;
        border: 0;
        outline: 0;
        color: #fff;
        font-size: 30px;
        transition: width .5s ease-in;
      }

      input {
        width: 0px;
        max-width: 100%;

        @media(max-width: 500px){
          max-width: 70%;
        }

        &:focus {
          width: 300px;
        }
      }
    }

  }
}
