.product-card {
  width: 256px;
  height: 256px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3E4EB8;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  cursor: default;
  position: relative;

  @media(max-width: 500px){
    width:100%;
  }

  &.full-size {
    width: 100%;
    height: 100%;
    margin: 50px auto;
  }

  h4 {
    margin-top: 10px;
    padding: 16px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .product-details {
    border-top: 1px solid rgba(255,255,255, .4);
    padding: 4px;
    display: flex;
    flex-direction: column;
    min-height: 30%;
    background: #fff;
    color: #000;
  }

  .price {
    position: absolute;
    top: 3px;
    right: -5px;
    z-index: 100;
    background: #ff5722;
    padding: 1px 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
}
