@import '_base.less';
@import '_header.less';
@import '_productcard.less';

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &.reverse {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }

}
